
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Home";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="~/Content/SiteLayout/img/voteSlide.jpg" alt="" />
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>



</section>
