
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Voting System Login</title>

    <!-- Bootstrap CSS -->
    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />


</head>
<body>
    <div>
        <form class="login-form" method="post" action="/Vote/Login/">
            <div class="login-wrap">
                @if (Session["voterid"] == null)
                {
                    <p class="alert">@ViewBag.Uyari</p>
                }

                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="Email" placeholder="Email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
